<app-header></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>{{texto}}, que tal!</strong>

    <ion-card class="ion-margin ion-padding">
      <ion-card-content>
        <div class="plan">
          <div class="div-usr">
            <label class="user">{{razon_social}}</label>
          </div>
         
          <div class="hr"></div>
          
          <div class="image-call">
            <img src="assets/img/telephone-call.png">
          </div>

          <div class="status">
            <label>Plan Activo</label>
            <label>{{plan}}</label>
          </div>

          <div class="btn-cancel">
            <ion-button color="danger">Cancelar</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
